body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.columns
{
	overflow: auto;
	width: 100%;
}

ul.columns > li
{
	float: left;
	margin: 0 10px;
	width: auto;
}

ul.stories > li
{
	background-color: #eee;
	border: 1px solid #aaa;
	margin: 10px 0;
	padding: 10px;
	width: 200px;
}

ul.stories > li > span.title
{
	font-weight: bold;
	font-size: 1.2em;
	display: block;
	margin-bottom: 10px;
	clear: both;
}

ul.stories > li > span.points
{
	float: left;
}

ul.stories > li > span.owner
{
	display: block;
	text-align: right;
}